{% extends "base.twig" %}

{% block content %}
 <tr><td>A message has been sent from <a style="color: {{ theme.text_color }}" href="mailto:{{ reply-email }}">{{ name }}</a>:</td></tr>
 
 <tr><td>{{ message }}</td></tr>
{% endblock %}