{% extends "base.twig" %}

{% block content %}
 <tr><td>This is confirmation that your message has been sent to the site admins.</td></tr>
 
 <tr><td>Your message:</td></tr>
 
 <tr><td>{{ message }}</td></tr>
{% endblock %}